.itemsTable td:nth-child(1) {
    text-align: center;
    min-width: 20px;
}
.itemsTable td:nth-child(2) {
    text-align: right;
    min-width: 100px;
}
.itemsTable td:nth-child(3) {
    padding-left: 10px
}
